@import "./_variable";
@mixin flexCenter($dir, $background) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
  background-color: $background;
}
header {
  color: $textColor;

  @include flexCenter(column, tomato);

  button {
    background-color: $primaryBtn;
    &::after {
      content: "Hello.....";
    }
  }
}
